<h1><%= @hospital.name %></h1>
<h2>Employs <%= @hospital.doctor_count %> doctors</h2>
<br>
<h4>Universities Doctors Attended:</h4>
<% @hospital.doctor_university.each do |university| %>
<ul>
  <li><%= university %></li>
</ul>
<% end %>